# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
lib/
lib64/
include/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media

# If your build process includes running collectstatic, you probably don't want collected static files in your Git repository:
staticfiles/

# Django migrations
**/migrations/

# Local development settings
local_settings.py

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.bak
*.swp
*.swo
*.swn